<div id="contenedor">
  <div id="contenedor-title">
    <div>
      <h1 class="mat-h1">ADMINISTRACION DE GRUPOS</h1>
    </div>
    <div>
      <!-- <button mat-flat-button color="primary" (click)="openDialog()">CREAR JUEGO</button> -->
    </div>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Grupo </th>
        <td mat-cell *matCellDef="let group"> {{group.nameGroup}} </td>
      </ng-container>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let group"> {{group.course}} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Nivel </th>
        <td mat-cell *matCellDef="let group"> {{group.level}} </td>
      </ng-container>
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let group"> {{group.schedule}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let group"> {{group.state}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let group">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEdit(group)">
              <mat-icon>school</mat-icon>
              <span>Editar Lecciones</span>
            </button>
            <button mat-menu-item (click)="openEditExam(group)">
              <mat-icon>quiz</mat-icon>
              <span>Editar Examenes</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [length]="totalUsers" [pageSize]="pageSize" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
