<mat-toolbar class="custom-toolbar">
    <div class="menu-container">
      <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="matricula-text">
        <span class="matricula-label hide-on-mobile">MATRICULA | </span>
        <span>{{ matricula }}</span>
      </span>
    </div>

    <span class="spacer"></span>

    <div class="user-info">
      <span class="username hide-on-tablet">{{ getUserTypeLabel(userType) + ' | ' + username}}</span>
      <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item [routerLink]="getProfileRoute()">
        <mat-icon>person</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>