.spacer {
    flex: 1 1 auto;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-info .username {
    font-weight: 500;
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 4px;
}

.custom-toolbar {
    background-color: #CF1020; /* Color verde personalizado */
    color: white; /* Color del texto */
  }