/* Estilo del contenedor principal */
#contenedor-image {
  background-image: url('/assets/pexels-pixabay-247819.jpg');
  background-size: cover; /* Hace que el fondo cubra el área */
  background-position: center; /* Centra la imagen */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  color: white; /* Texto blanco para contraste */
  height: 100px;
}

#contenedor-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;

  .titulo h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
  }

  .boton {
    button {
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.w-100 {
  width: 100%;
}


//
.profile-picture {
  overflow: hidden; /* Evita que el contenido se salga del borde */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red; /* Fondo claro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para diseño */
  position: relative;
}

.profile-picture mat-icon {
  font-size: 120px; /* Aumenta el tamaño del ícono */
  color: #9e9e9e; /* Color del ícono */
  width: 100%; /* Ajusta el ícono al contenedor */
  height: 100%;
  margin-top: -60px;
  margin-left: 5px;
  width: 120px; /* Tamaño del contenedor */
  height: 120px;
  border-radius: 50%; /* Hace que el contenedor sea redondo */
  background: #002058;
}

