.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Para centrar verticalmente */
  width: 450px;
}

.instruction-text {
  font-size: 14px; /* Ajusta el tamaño del texto */
  color: #757575; /* Color gris similar al de la imagen */
  font-family: Arial, sans-serif; /* Fuente común para lograr un estilo similar */
  font-weight: normal; /* Asegura que el texto no sea negrita */
}

.content-text {
  font-size: 16px; /* Tamaño del texto */
  color: black; /* Color oscuro pero no completamente negro */
  font-family: Arial, sans-serif; /* Fuente estándar para mantener un estilo simple */
  font-weight: normal; /* Asegura que no sea negrita */
  letter-spacing: 0.5px; /* Ligera separación entre letras */
  white-space: nowrap; /* Evita saltos de línea innecesarios */
}
