<div class="login-container">
  <mat-card>
    <img mat-card-image src="assets/logoef3.png" alt="Logo" class="logo" width="300px">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Matricula</mat-label>
          <input matInput type="text" formControlName="matricula" placeholder="Matricula" autocomplete="username">
          @if (loginForm.get('matricula')?.invalid) {
            <mat-error>
              {{getErrorMessage('matricula')}}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="current-password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (loginForm.get('password')?.invalid) {
            <mat-error>
              {{getErrorMessage('password')}}
            </mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>
      @if (errorMessage) {
        <mat-error>
          {{errorMessage}}
        </mat-error>
      }
    </mat-card-content>
  </mat-card>
</div>
