<h1>Examen</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Pregunta {{currentIndex + 1}}</h3>
  <div formArrayName="answers">
    @if (questions!.length) {
      <div [formGroup]="getAnswerFormGroup(currentIndex)">
        <p class="mat-body-1">{{ (currentIndex + 1) + '. ' + currentQuestion.questionText }}</p>
        <!-- Pregunta de selección única -->
        @if (currentQuestion.type === 'single') {
          <div>
            <mat-radio-group formControlName="answer">
              @for (option of currentQuestion.options; track option; let j = $index) {
                <div>
                  <mat-radio-button [value]="option">
                    <strong>{{ getOptionLetter(j) }})</strong> {{ option }}
                  </mat-radio-button>
                </div>
              }
            </mat-radio-group>
            @if (answers.at(currentIndex).get('answer')?.invalid && answers.at(currentIndex).get('answer')?.touched) {
              <div>
                <span style="color: red;">Selecciona una opción.</span>
              </div>
            }
          </div>
        }
        <!-- Pregunta de selección múltiple -->
        @if (currentQuestion.type === 'multiple') {
          <div>
            @for (option of currentQuestion.options; track option; let j = $index) {
              <div>
                <mat-checkbox
                  [value]="option"
                  (change)="onCheckboxChange($event, currentIndex)"
                  [checked]="$safeNavigationMigration(answers.at(currentIndex).get('answers')?.value?.includes(option))">
                  <strong>{{ getOptionLetter(j) }})</strong> {{ option }}
                </mat-checkbox>
              </div>
            }
            @if (answers.at(currentIndex).get('answers')?.invalid && answers.at(currentIndex).get('answers')?.touched) {
              <div>
                <span style="color: red;">Selecciona al menos una opción.</span>
              </div>
            }
          </div>
        }
        <!-- Pregunta abierta -->
        @if (currentQuestion.type === 'open') {
          <div>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Respuesta</mat-label>
              <input matInput formControlName="answer" />
            </mat-form-field>
            @if (answers.at(currentIndex).get('answer')?.invalid && answers.at(currentIndex).get('answer')?.touched) {
              <div>
                <span style="color: red;">Esta pregunta es obligatoria.</span>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>

  <!-- Navegación -->
  <div style="display: flex; justify-content: space-between; margin-top: 1rem;">
    <button mat-button type="button" (click)="prevQuestion()" [disabled]="currentIndex === 0">Anterior</button>
    <div class="paginador">
      @for (q of questions; track q; let i = $index) {
        <button
          [ngClass]="{'activo': currentIndex === i}"
          (click)="currentIndex = i">
          {{ i + 1 }}
        </button>
      }
      <button class="fin-btn" (click)="onSubmit()">FIN</button>
    </div>
    <button mat-button type="button" (click)="nextQuestion()" [disabled]="currentIndex === questions!.length - 1">Siguiente</button>
  </div>

  <!-- Botón de envío en la última -->
  @if (currentIndex === questions!.length - 1) {
    <div style="text-align: right; margin-top: 1rem;">
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </div>
  }

</form>


