<div id="contenedor">
  <div id="contenedor-title">
    <div>
      <h1 class="mat-h1">LECCIONES</h1>
    </div>
    <div>
    </div>
  </div>
  <div>
    @if (isLoading) {
      <p>Cargando datos...</p>
    } @else if (grupos.length === 0) {
      <p>No tienes lecciones asignadas por el momento.</p>
    } @else {
      <mat-accordion>
        @for (grupo of grupos; track grupo.id; let isFirst = $first) {
          <mat-expansion-panel [expanded]="isFirst">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ grupo.nameGroup + ' ' + grupo.level + ' ' + grupo.course }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-list role="list">
                @for (lesson of grupo.lessons; track lesson.id) {
                  <mat-list-item
                    role="listitem"
                    class="hoverable"
                    (click)="openEdit(lesson)">
                    <span class="lesson-title">{{ lesson.title }}</span>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          </mat-expansion-panel>
        }
      </mat-accordion>
    }

  </div>
</div>
