<div id="contenedor">
  <div id="contenedor-title">
    <div>
      <h1 class="mat-h1">LECCIONES</h1>
    </div>
    <div>
    </div>
  </div>
  <div>
    @if (grupos) {
      <mat-stepper orientation="vertical">
        <!-- Paso fijo (solo aparece si no hay grupos) -->
        @if (!grupos || grupos.length === 0) {
          <mat-step>
            <ng-template matStepLabel>Cargando datos..</ng-template>
            <ng-template matStepContent>
            </ng-template>
          </mat-step>
        }
        <!-- Pasos dinámicos (aparecen cuando hay grupos) -->
        @for (grupo of grupos; track grupo) {
          <mat-step>
            <ng-template matStepLabel>
              {{ grupo.nameGroup + ' ' + grupo.level + ' ' + grupo.course }}
            </ng-template>
            <ng-template matStepContent>
              <p>{{ grupo.description }}</p>
              <mat-list role="list">
                @for (lesson of grupo.lessons; track lesson) {
                  <mat-list-item
                    role="listitem"
                    class="hoverable"
                    (click)="openEdit(lesson)">
                    {{ lesson.title }}
                  </mat-list-item>
                }
              </mat-list>
              <button mat-button matStepperNext>Next</button>
            </ng-template>
          </mat-step>
        }
      </mat-stepper>
    }

  </div>
</div>


