<h3 style="text-align: center;">CONFIGURACIÓN DEL GRUPO</h3>
@if (validationMessage) {
  <div class="validation-message" role="alert">
    {{ validationMessage }}
  </div>
}
<mat-tab-group [(selectedIndex)]="selectedTabIndex" animationDuration="1000ms">
    <mat-tab label="Profesores">
      <app-assign [items1]="assignedUsersTeacher" [items2]="unassignedUsersTeacher" [maxAssigned]="1"
      (assignmentChanged)="updateTeachers($event)"></app-assign>
    </mat-tab>
    <mat-tab label="Estudiantes">
      <app-assign [items1]="assignedUsers" [items2]="unassignedUsers"
      (assignmentChanged)="updateStudents($event)"></app-assign>
    </mat-tab>
    <mat-tab label="Plantilla de curso">
      <app-assign [items1]="assignedTemplates" [items2]="unassignedTemplates" [maxAssigned]="1"
      (assignmentChanged)="updateTemplates($event)"></app-assign>
    </mat-tab>
</mat-tab-group>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
</mat-dialog-actions>
