<h3 style="text-align: center;">CONFIGURACIÓN DEL GRUPO</h3>
<mat-tab-group animationDuration="1000ms">
  <div *ngIf="isDataAvailable(assignedUsersTeacher, unassignedUsersTeacher)">
    <mat-tab label="Maestro">
      <app-assign [items1]="assignedUsersTeacher" [items2]="unassignedUsersTeacher"
       (updateAssigned)="onUpdateAssigned($event)"></app-assign>
    </mat-tab>
  </div>
  <div *ngIf="isDataAvailable(assignedUsers, unassignedUsers)">
    <mat-tab label="Alumnos">
      <app-assign [items1]="assignedUsers" [items2]="unassignedUsers"
       (updateAssigned)="onUpdateAssigned($event)"></app-assign>
    </mat-tab>
  </div>
  <div *ngIf="isDataAvailable(assignedLessons, unassignedLessons)">
    <mat-tab label="Lecciones">
      <app-assign [items1]="assignedLessons" [items2]="unassignedLessons"
       (updateAssigned)="onUpdateAssigned($event)"></app-assign>
    </mat-tab>
  </div>
  <div *ngIf="isDataAvailable(assignedGames, unassignedGames)">
    <mat-tab label="Juegos">
      <app-assign [items1]="assignedGames" [items2]="unassignedGames"
       (updateAssigned)="onUpdateAssigned($event)"></app-assign>
    </mat-tab>
  </div>
  <div *ngIf="isDataAvailable(assignedExams, unassignedExams)">
    <mat-tab label="Exámenes">
      <app-assign [items1]="assignedExams" [items2]="unassignedExams"
       (updateAssigned)="onUpdateAssigned($event)"></app-assign>
    </mat-tab>
  </div>
</mat-tab-group>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSubmit()">Crear</button>
</mat-dialog-actions>