<div id="contenedor">
  <div id="contenedor-title">
    <div>
      <h1 class="mat-h1">MIS ALUMNOS</h1>
    </div>
    <div></div>
  </div>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Define columns here -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell *matHeaderCellDef> Matrícula </th>
        <td mat-cell *matCellDef="let user"> {{user.registrationNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let user"> {{user.state === 'active' ? 'Activo' : 'Inactivo'}} </td>
      </ng-container>

      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef> Tipo de usuario </th>
        <td mat-cell *matCellDef="let user"> {{user.userType === 'teacher' ? 'Maestro' : user.userType === 'student' ? 'Alumno' : 'Administrador'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDetails(user)">
              <mat-icon>info</mat-icon>
              <span>Detalles</span>
            </button>
            <button mat-menu-item (click)="reviewExams(user)">
              <mat-icon>grading</mat-icon>
              <span>Revisar exámenes</span>
            </button>
            <button mat-menu-item (click)="completeStudent(user)">
              <mat-icon>task_alt</mat-icon>
              <span>Finalizar curso</span>
            </button>
            <button mat-menu-item (click)="withdrawStudent(user)">
              <mat-icon>person_off</mat-icon>
              <span>Dar de baja</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [length]="totalUsers" [pageSize]="pageSize" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
